<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</Console>
		<File name="poc_dbunit" fileName="logs/poc_dbunit.log" immediateFlush="false" append="false">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
		<File name="poc_dbunit_root" fileName="logs/poc_dbunit_root.log" immediateFlush="false" append="false">
			<PatternLayout pattern="%d{yyy-MM-dd HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
		</File>
	</Appenders>
	<Loggers>
		<Logger name="me.pulkit.playground" level="debug" additivity="false">
            <AppenderRef ref="poc_dbunit" level="debug" />
        </Logger>
		<Root level="debug">
			<!-- <AppenderRef ref="Console" /> -->
			<AppenderRef ref="poc_dbunit_root" />
		</Root>
	</Loggers>
</Configuration>